* {
  margin: 0;
}

html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  background-color: #1f2937;
  width: auto;
  height: 400px;
  padding: 30px;
  color: #f9faf8;
}

h1 {
  font-size: 24px;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.navbar a {
  text-decoration: none;
  color: #f9faf8;
}

.header-body {
  display: flex;
  padding: 40px 40px 0 60px;
}

.header-body-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 45%;
  gap: 40px;
}

.header-body-left h2 {
  font-size: 48px;
}

.header-body-left button {
  width: 150px;
  height: 75px;
  border-radius: 20px;
  background-color: #3882f6;
  color: #f9faf8;
  border: none;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.75);
}

.header-body-right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55%;
}

.header-body-right img {
  width: auto;
  height: 325px;
  border-radius: 30px;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.75);
}

.header-body-left p {
  font-size: 18px;
}

.icon-section {
  display: flex;
  justify-content: space-evenly;
  width: auto;
}

.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.icon i {
  font-size: 60px;
  color: #3882f6;
}

.review {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
  background-color: #e9ebe8;
  padding: 25px 300px;
  font-size: 36px;
}

.review span {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
